<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.heavenly.ticket"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.heavenly.ticket.activity.LoginActivity"
            android:label="@string/label_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.heavenly.ticket.activity.MainActivity"
            android:label="@string/label_main" >
        </activity>
        <activity
            android:name="com.heavenly.ticket.activity.SelectTrainActivity"
            android:label="@string/label_filter" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.heavenly.ticket.activity.AutoBookActivity"
            android:label="@string/label_auto_book_task" />
        <activity
            android:name="com.heavenly.ticket.activity.LeftTicketResultActivity"
            android:label="@string/label_left_ticket" >
        </activity>
        <activity
            android:name="com.heavenly.ticket.activity.OrderFormActivity"
            android:label="@string/label_passenger_info" />
    </application>

</manifest>